/*RESET*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}




h1  {
    color: #2b7a7c;
    font-family: Arial;
    margin-top: 120px;
    text-align: center;
    font-size: 4.5em;
}

.navi li  {
    display: inline-block;
  
    margin-right: 10px;
}

.navi  {
    background-color: #1e1e1e;
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
}

.navi a {
    text-decoration: none;
    color: #b04802;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6em;
}

body  {
    background: #1f1f1f;
}

article  {
    text-align: center;
    
}

article h2:hover  {
    transition: 1s;
    font-size: 5em;
}

summary  {
    font-size: 2em;
    font-family: Arial;
    
    
}

@media screen and (max-width: 500px) {
    article  {
        width: 100%
    }
}

#isokuva  {
    width: 100%;
}

li  {
    padding-right: 10px;
}

.navitext  {
    color: #b04802;
}
